.img{
  width: 40px;
  height: auto;
  margin-right: 15px;
  cursor: pointer;
}

.card{
  width: 18rem;
}

ul li{
  list-style: none;
  padding: 7px;
}

.categories {
  background: #F0F1F2;
}

.search{
  width: 30%;
  height: 50px;
}
.a{
  text-decoration: none;
}